body {
  background-color: black;
  color: white;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hide {
  display: none;
}

.container {
  width: 60%;
  max-width: 1400px;
  margin: 20px auto;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 1px 1px 20px rgba(0, 238, 255, 0.397);
  border: 2px solid white;
}

.carousel-container {
  max-width: 100%;
  height: 500px;
  max-height: 500px;
  background-color: bisque;
}

/* Style small image and container */
.container-small {
  width: 60%;
  max-width: 1400px;
  height: 100px;
  margin: 40px auto;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 15px;
  box-shadow: 1px 1px 20px rgba(0, 238, 255, 0.397);
}

.carousel-container-small {
  display: flex;
  position: relative;
}

.image-box-small {
  width: calc(100% / 5);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
}

/* bottoni */
.btn {
  background-color: rgba(99, 99, 99, 0.5);
  font-size: 1.5rem;
  padding: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  cursor: pointer;
}

.btn#next {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.btn#prev {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.btn:hover {
  background-color: white;
  color: rgb(255, 115, 0);
}